<ion-header>
  <ion-toolbar>
    <ion-title>jurnal-umum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-label>Tanggal</ion-label>
    <ion-label>No. Akun</ion-label>
    <ion-label>Nama Akun</ion-label>
    <ion-label>Debet</ion-label>
    <ion-label>Kredit</ion-label>
  </ion-list-header>
  <ion-item *ngFor="let item of jurnalUmumData">
    <ion-label>{{  }}</ion-label>
    <ion-label>{{  }}</ion-label>
    <ion-label>{{  }}</ion-label>
    <ion-label>{{  }}</ion-label>
    <ion-label>{{  }}</ion-label>
  </ion-item>
</ion-content>
